

.landing{
    display: flex;
    width: 1000px;

    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 5px 7px gray, -5px -5px 7px gray;

    
    
}
.wel{
    font-style: italic;

    margin-top: 130px;
    margin-left: 10px;
}

img{
    margin-left: 80px;
}